<div class="container-fluid">
	<hr>
	<div class="row">

		<div class="col-lg-7 col-md-5">
			<p>
				© 2018 GRUPO MM <br>
				CONOCE NUESTRA <a href="privacidad.html">POLÍTICA DE PRIVACIDAD</a>
			</p>
			<p>TRABAJA CON NOSOTROS, CONTÁCTANOS A <a href="mailto:clientes@grupomm.com.mx">CLIENTES@GRUPOMM.COM.MX</a></p>
		</div>

		<div class="col-lg-2 col-md-3">
			<p>
				SAN PEDRO GARZA GARCÍA <br>
				NUEVO LEÓN, 66220
			</p>
		</div>

		<div class="col-lg-3 col-md-4">
			<p>
				CLIENTES@GRUPOMM.COM.MX <br>
				+52 (81) 8336 6666 <br>
				L A V — 9:00AM A 8:00PM
			</p>
		</div>

	</div>
</div>