<div class="container-fluid">
  <div class="row">

  	<div class="col-md-11 col-8">

  		<a href="index.html"><img src="img/logo.svg" alt="Grupo MM" height="24"></a>
  		<ul class="nav">
  			<li><a data-section="proyectos" href="proyectos.html">PROYECTOS</a></li>
  			<li><a data-section="somos" href="quienes-somos.html">QUIÉNES SOMOS</a></li>
  			<li><a data-section="blog" href="blog.html">BLOG</a></li>
  			<li><a data-section="publicaciones" href="publicaciones.html">PUBLICACIONES</a></li>
  			<li><a data-section="contacto" href="contacto.html">CONTACTO</a></li>
  		</ul>

  	</div>

  	<div class="col-md-1 col-3 dropdown" align="right">
      <a class="nav-link dropdown-toggle" href="#" id="dropdown-lang" data-toggle="dropdown" aria-expanded="false">ESP</a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-lang">
        <a class="dropdown-item" href="#"> ENG</a>
      </div>
    </div>

  </div>
</div>