
<div class="row mb-40">
  <div class="col-6">
    <a href="index.html"><img src="img/logo.svg" alt="Grupo MM" height="24"></a>
  </div>
  <div class="col-6" align="right">
    <div class="mobile-btn close-mobile open">
      <div class="nav-btn"></div>
    </div>
  </div>
</div>

<ul class="mobile-nav list-unstyled">
  <li class="main-item nav-item">
    <a href="proyectos.html">Proyectos</a>
  </li>
  <li class="main-item nav-item">
    <a href="blog.html">Blog</a>
  </li>
  <li class="main-item nav-item">
    <a href="quienes-somos.html">Quiénes Somos</a>
  </li>
  <li class="main-item nav-item">
    <a href="publicaciones.html">Publicaciones</a>
  </li>
  <li class="main-item nav-item">
    <a href="contacto.html">Contacto</a>
  </li>
</ul>