footer {
	hr{
		display:  		 	block;
		margin: 	 0 0 25px 0;
		background: $cod-gray;
	}
  p{
  	@extend %type-sans;
		font-size: 13px;
		color: $cod-gray;
		letter-spacing: 1px;
		line-height: 20px;
		margin-bottom: 20px;
		a{ 
			border-bottom: 1px solid $cod-gray;
			&:hover, &:active{ 
				color: $black; 
				border-color: $black; 
			}
		}
  }
}
  @include media-breakpoint-down(md) {
    
  }

  @include media-breakpoint-down(sm) {
   
}
