header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	padding  : 27px 0 25px;
	margin-bottom: 35px;
	background: #FFF;

	a{
		display: inline-flex;
		@extend %type-sans;
		@extend %transition;
		color: $cod-gray;
		font-size: 14px;
		letter-spacing: 0.4px;
		line-height: 20px;
		font-weight: bold;
		&:hover, &.is-active{
			color: $light-gray;
		}
	}
}

.nav{
	display: inline-flex;
	padding-left:   33px;
	
	li{	padding-right: 33px; }
}

#dropdown-lang{
	padding: 11px 0 0;
	
	&:after{
		width: 10px;
		height: 5px;
		border: none;
		margin-left: 3px;
		vertical-align: middle;
		background: url(../img/svg/lang.svg) 0 0 no-repeat;
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
}

.dropdown.show #dropdown-lang:after{
	-webkit-transform: rotate(0);
	transform: rotate(0);
}

header .dropdown-menu{
	border: none;
	padding: 0;
	margin: 0;
	min-width: 0;

	.dropdown-item{
		width: auto;
		font-weight: bold;
		margin-right: -11px;
	}
}

@include media-breakpoint-down(md) {

}

@include media-breakpoint-down(sm) {

}
