.ico{
	
	height: 20px;
	display: inline-block;

	&:before{
		// vertical-align: middle;
		font-family: "ico-gmm" !important;
		font-size: 120%;
		font-style: normal !important;
		font-weight: normal !important;
		font-variant: normal !important;
		text-transform: none !important;
		speak: none;  line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

}

.ico-arrow:before { content: "\61"; }
.ico-prev:before { content: "\62"; }
.ico-next:before { content: "\63"; }

.icon{
	width: 22px;
	height: 22px;
	margin: -2px 3px 0;
	display: inline-block;
	vertical-align: top;

	&.icon-fb{
		background-image: url(../img/ico/fb.png);
	}

	&.icon-tw{
		background-image: url(../img/ico/tw.png);
	}

	&.icon-in{
		background-image: url(../img/ico/in.png);
	}

}

@media (-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 

	.icon-fb{ background-image: url(../img/ico/fb@2x.png); }

	.icon-tw{ background-image: url(../img/ico/tw@2x.png); }

	.icon-in{ background-image: url(../img/ico/in@2x.png); }

}