

.mobile-btn {
  @extend %transition;
  cursor        : pointer;
  position      : fixed;
  z-index       : 9999;
  top           : 40px;
  right         : 20px;
  width         : 10px;
  height        : 11px;

  .nav-btn {
    height    : 1px;
    width     : 100%;
    display   : block;
    background: $mobile-nav-bg;
    @extend %transition;

    &::after,
    &::before {
      @extend %transition;

      content   : ' ';
      display   : block;
      height    : 1px;
      width     : 15px;
      background: $mobile-nav-bg;
    }

    &::before {
      transform: translateY(5px);
    }

    &::after {
      transform: translateY(9px);
    }
  }

  &.open {
    position: relative;
    top: 12px;
    right: 0;
    width: 15px;
    height: 15px;
    transform: translate(0,0);

    .nav-btn {
      height: 0;

      &::before {
        width    : 100%;
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(135deg)translate(0,1px);

      }
    }
  }
}

.mobile-menu {
  @extend %transition;
  @extend h1;
  z-index       : 99999;
  pointer-events: none;
  padding       : 27px 15px 0;
  width         : 100%;
  height        : 100%;
  position      : fixed;
  right         : -100%;
  background    : $body-background-color;
  overflow      : scroll;

  &.open {
    @extend %transition;
    opacity       : 1;
    right: 0;
    pointer-events: all;

    li.nav-item{
      @include transition(none);
      margin: 0;
      padding: 18px 0 15px;
      border-top: 1px solid rgba(195,195,195,0.5);

      a{
        display: block;
      }

      &:last-child{
        border-bottom: 1px solid rgba(195,195,195,0.5);
      }
    }
  }
}

@include media-breakpoint-down(sm) {

  .nav{ display: none; }

}
