.h0 {
  @extend %type-title;

  font-size     : 40px;
  letter-spacing: -1px;
  line-height   : 40px;
  text-transform: uppercase;

  sup{
    font-weight: 500;
    font-size: 19px;
    letter-spacing: 0.19px;
    vertical-align: middle;
  }
  
}

.h1,
h1 {
  @extend %type-title;

  font-size     : 21px;
  letter-spacing: 0;
  line-height   : 25px;
  text-transform: uppercase;
  margin-bottom: 14px;

  span{ font-weight: 500; }
  &.light{
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 0.19px;
    line-height: 25px;
  }

  em{
    font-size  : 13px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    font-style : normal;
  }

}

.h2,
h2 {
  @extend %type-body;

  font-size     : 35px;
  letter-spacing: .38px;
  line-height   : 35px;
}

.h3,
h3 {
  @extend %type-title;

  font-size     : 12px;
  letter-spacing: 1px;
  line-height   : 20px;
  text-transform: uppercase;

  @include media-breakpoint-up(md) {
    font-size: 13px;
  }
  @include media-breakpoint-up(lg) {
    font-size     : 14px;
    letter-spacing: 1.125px;
  }
}

p,
fig-caption {
  @extend %type-body;
  font-size     : 16px;
  line-height   : 20px;
  color         : #2A2A2A;
  margin-bottom: 22px;
}

figcaption{ font-style: italic; }

%link,
.link {
  @extend %type-sans;
  font-size     : 13px;
  line-height   : 20px;
  letter-spacing: 1px;
  color         : #191919;
  text-transform: uppercase;
  
  .ico{
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: -5px;
    @extend %transition;

    &.up{
      display: block;
      margin-left: 0;
      text-align: center;
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }

    &.lft{
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
      margin-top: -5px;
      margin-left: 0;
    }
  }

  &:hover .ico{
    transform-origin:center;
    -webkit-transform: rotate(45deg) translate3d(0,-8px,10px);
    transform: rotate(45deg) translate3d(0,-8px,10px); 

    &.up{
      -webkit-transform: rotate(0) translate3d(0,-15px,10px);
      transform: rotate(0) translate3d(0,-15px,10px);  
    } 

    &.lft{
      -webkit-transform: rotate(-90deg) translate3d(0,-8px,0);
      transform: rotate(-90deg) translate3d(0,-8px,0);  
    }   
  }

}

.back-link{
  margin: 80px 0;
  text-align: center;
  .ico:before{
    color: $rust;
  }
}


.text-black {
  color: $black;
}

.text-white {
  color: $white;
}

@include media-breakpoint-down(md) {

  .md-h0{
    font-size     : 40px;
    letter-spacing: -1px;
    line-height   : 40px;
    margin-bottom : 50px;
    text-transform: uppercase;
  }

}