body,
html {
  @extend %type-body;
  @extend %font-smoothing;
  background: $body-background-color;
  color     : $body-text-color;
  height    : 100%;
  
  @include media-breakpoint-down(md) {
    font-size  : 14px;
    line-height: 18px;
  }
  @include media-breakpoint-down(lg) {
    font-size  : 16px;
    line-height: 20px;
  }

}

.container-fluid{
  max-width: 1280px;
}

main {
  opacity: 0;
  padding-top: 104px;
}

section{
  margin-bottom: 100px;
}

hr{
  height: 1px;
  background: rgba(195,195,195,0.5);
  margin-bottom: 20px;
  &.op-1{ background: $cod-gray; }
}

.dropdown-toggle::after{
  width: 10px;
  height: 5px;
  border: none;
  margin-left: 3px;
  vertical-align: middle;
  background: url(../img/svg/lang.svg) 0 0 no-repeat;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.bb-1{ border-bottom: 1px solid rgba(195,195,195,0.5); }

.mb-15{ margin-bottom: 15px; }
.mb-35{ margin-bottom: 35px; }
.mb-40{ margin-bottom: 40px; }
.mb-50, figure{ margin-bottom: 50px; }
.mb-60{ margin-bottom: 60px; }
.mb-80{ margin-bottom: 80px; }
.m-backlink{ margin-bottom: 80px; }

.pl-100{ padding-left: 100px; }

@include media-breakpoint-down(md) {

  .md-w-100{ width: 100%;  }
  .md-mb-50{ margin-bottom: 50px; }

}

@include media-breakpoint-down(sm) {

  .sm-mb-10{ margin-bottom: 10px; }
  .sm-mb-25{ margin-bottom: 25px; }
  .sm-mb-35{ margin-bottom: 35px; }
  .sm-mb-50{ margin-bottom: 50px; }

}
