$body-background-color: #FFF;
$body-text-color: #191919;
$mobile-nav-bg: #2D2D2D;
$placeholder-color: #003047;

$bezier: cubic-bezier(.445, .5, .55, .95);

// Typography Options
$font-body: 'Adobe Garamond Pro';
$font-sans: 'Trade Gothic LT Std';

%type-body {
  font-family: $font-body;
  font-weight: normal;
  font-style : normal;
}

%type-sans {
  font-family: $font-sans;
  font-weight: 500;
  font-style : normal;
}


%type-title {
  font-family: $font-sans;
  font-weight: bold;
  font-style : normal;
}