.post{
	@extend %transition;
	padding: 32px 0;
	border-bottom: 1px solid rgba(195,195,195,0.5);
	
	.h1{
		margin-bottom: 5px;
	}

	&.off{
		opacity: .55 !important;
	}
}

.page-blog-detail{
	
	figure{
		margin: 40px 0 20px !important;
	}

}

@include media-breakpoint-down(sm) {

	.page-blog-detail .h1.light{
		font-size     : 13px;
		line-height   : 20px;
		letter-spacing: 1px;
	}

}