.filter{
	margin-bottom: 20px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(215,215,215,0.5);

	li{
		padding-right: 35px;
		display: inline-block;
	}

	a{
		@extend %link;
		position: relative;
		
		&.is-active:before, &:hover:before{
			width: 100%;
			background: $cod-gray;
		}

		&:before{
			@extend %transition-slow;
			content: '';
			position: absolute;
			bottom: -16px;
			height: 1px;
			width: 0;
		}

	}

}

.projects > div:last-child .project{ margin-bottom: 0; }

.project{
	margin-bottom: 30px;
}

figure{
	margin-bottom: 50px;
	
	img{
		margin-bottom: 10px;
	}
}

@include media-breakpoint-down(sm) {

	.filter {
		display: flex;
		padding-bottom: 0;

		li{
			padding-right: 0;
			width: 50%;
		}

		a{
			font-weight: bold;
			&:before{
				display: none;
			}
		}
	}

	.page-projects .dropdown{
		text-align: right;

		.dropdown-toggle{
			font-weight: 500;
			padding-right: 0;
		}

		.dropdown-menu{
			margin: 1px 0 0;
			border: none;
			border-radius: 0;
		}

		.dropdown-item{
			font-weight: 500;
			text-align: right;
			padding-right: 15px;
		}
		
	}

}