.pub{
	margin-bottom: 30px;
	border-bottom: 1px solid rgba(195,195,195,0.5);

	img{
		margin-bottom: 20px;
	}

}

.page-pub .back-link{ 
	margin-top: 50px;
}

.modal-lg{
	max-width: 1200px;
}

.modal-content{
	padding: 20px 30px;
}

.modal .close {
	opacity: 1;
	width: 20px;
	height: 20px;
	position: relative;

	&:before, &:after {
		position: absolute;
		left: 10px;
		top: -3px;
		content: ' ';
		height: 27px;
		width: 2px;
		background-color: $cod-gray;
	}
	&:before {
		transform: rotate(45deg);
	}
	&:after {
		transform: rotate(-45deg);
	}
}

.swiper-pagination {
	text-align: left;
	@extend %link;
}

@include media-breakpoint-down(sm) {

	.modal-content{
		height: 80vh;
		padding: 20px 15px;
	}

	.swiper-button-prev, .swiper-button-next {
		position: relative;
		top: 0;
		left: 0;
		width: 10px;
		height: 20px;
		margin: 0;
		display: block;
		background-size: 10px;
	}

	.swiper-pagination{
		top: 0;
	}

}