.page-splash{

	header{
		height: 100px;
		margin-bottom: 0;
		position: relative;
		
	}

	footer{
		height: 60px;
	}

	main{

		opacity: 1;
		padding-top: 0;
		min-height: calc(100vh - 160px);
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;

		.container-fluid{
			width: 100%;
			align-self: center;
		}

	}

}


@include media-breakpoint-down(sm) {

	.page-splash{
		
		header, footer{
			height: auto;
			padding-bottom: 0;

		}

		main{
			display: block;
			min-height: auto;			
		}
	
	}

}
